* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-weight: 400;
}
header {
  max-height: 912px;
}
main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.about,
.pets,
.help,
.donation {
  padding: 5% 0;
}
.pets,
.donation {
  background: #f6f6f6;
}

.help {
  background-color: #ffffff;
}

header,
footer {
  background-image: linear-gradient(
    to bottom right,
    rgba(91, 72, 58, 1) 0%,
    rgba(38, 36, 37, 1) 100%
  );
}
.wrapper-nav,
.wrapper-header,
.wrapper-about,
.wrapper-pets,
.wrapper-help {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, serif;
  font-weight: 400;
}

h2 {
  font-size: 44px;
  color: #ffffff;
}
.nav-menu .icon {
  display: none;
}
p {
  font-size: 15px;
  line-height: 160%;
}
.image-donation img {
  width: 100%;
}
.btn {
  width: fit-content;
  border-radius: 100px;
  color: black;
  padding: 2% 5%;
  font-size: 17px;
  letter-spacing: 1.02px;
  font-family: Georgia, serif;
  background-color: #f1cdb3;
}
.btn:hover,
.card-number:hover,
.arrow:hover {
  cursor: pointer;
  background-color: #fddcc4;
}
a h4:hover {
  cursor: pointer;
  color: #fddcc4;
}
.wrapper-footer h4,
a {
  text-decoration: none;
  color: #f1cdb3;
}

/* HEADER */

.wrapper-nav {
  justify-content: space-between;
  align-items: baseline;
}
.wrapper-header {
  justify-content: center;
}
.logo-title {
  color: #f1cdb3;
  font-family: Georgia, serif;
  font-weight: 400;
  padding-top: 60px;
  font-size: 32px;
  letter-spacing: 1.92px;
  line-height: 110%;
  margin-bottom: 10px;
}

.logo-text {
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 1.3px;
}
nav {
  display: flex;
  width: 443px;
}
ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  color: #cdcdcd;
  margin-top: 60px;
  display: flex;
  align-items: center;
}
a {
  font-size: 15px;
  line-height: 160%;
}
.active:hover {
  cursor: pointer;
  color: #fafafa;
}
.current {
  border-bottom: 3px solid #f1cdb3;
}
.left-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.left-column h2 {
  line-height: 130%;
  max-width: 310px;
}

p.left-text {
  color: #cdcdcd;
  margin-top: 42px;
  margin-bottom: 41px;
  line-height: 160%;
}
img#dog-header {
  margin-top: 64.5px;
  max-width: 100%;
}

/* SECTION ABOUT */
.wrapper-about {
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
}

.about-text-main p {
  margin-top: 25px;
}
.about-text h3 {
  font-size: 35px;
  letter-spacing: 2.1px;
}

/* SECTION PETS */

.wrapper-pets {
  flex-direction: column;
}
.wrapper-pets h3 {
  text-align: center;
  align-self: center;
  max-width: 400px;
  font-size: 35px;
  letter-spacing: 2.1px;
}
#get-to {
  align-self: center;
  margin-top: 60px;
}
.pets-slider {
  display: flex;
  justify-content: space-between;
  margin-top: 7%;
  flex-wrap: wrap;
}

.arrow {
  border-radius: 50%;
  border: 1px solid #f1cdb3;
  width: 52px;
  height: 52px;
  padding: 8px;
  align-self: center;
}

.arrow-left {
  background: url(./assets/icons/Arrow_left.svg) no-repeat center center;
  margin-left: 10px;
}

.arrow-right {
  background: url(./assets/icons/Arrow_right.svg) no-repeat center center;
  margin-right: 10px;
}

.pets-galery {
  background: #fafafa;
  border-radius: 9px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pets-galery:hover {
  cursor: pointer;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.pets-galery h6 {
  font-size: 20px;
  letter-spacing: 1.2px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 31px;
}
button.learn_more {
  height: 52px;
  border: 1px solid #f1cdb3;
  background: #fafafa;
  margin-left: 7px;
}
/* SECTION HELP */
.wrapper-help h3 {
  text-align: center;
  width: 310px;
  font-size: 35px;
  letter-spacing: 2.1px;
}
.wrapper-help {
  flex-direction: column;
  align-items: center;
}
.help-content {
  max-width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.help-content-item h4 {
  font-size: 20px;
  letter-spacing: 1.2px;
  margin-top: 30px;
}

.help-content-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin-top: 5%;
}
.help-content-item img {
  width: 84px;
  height: 104px;
}
/* DONATION */
#donation {
  display: flex;
  justify-content: center;
}

.wrapper-donation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.text-donation {
  width: 30%;
}

.text-donation > h3 {
  font-size: 35px;
}

.text-donation > h5 {
  font-size: 15px;
}

.card-number {
  background: #f1cdb3;
  border-radius: 5%;
  padding: 2%;
}

.card-number > a {
  text-decoration: none;
  font-size: 20px;
  font-family: Georgia, serif;
  letter-spacing: 0.06em;
  color: #545454;
  margin-left: 6px;
}

p.italic {
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
}

.space-top {
  margin-top: 5%;
}

/* FOOTER */

.wrapper-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.wrapper-footer h3 {
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.wrapper-footer h4,
a {
  text-decoration: none;
  color: #f1cdb3;
}

.contacts-footer {
  display: flex;
  width: 65%;
}

.contacts-footer h4 {
  display: inline-block;
  font-size: 20px;
}

.contacts-footer img {
  margin-right: 10px;
}
.img-footer {
  padding-top: 2%;
}
@media (max-width: 1200px) {
  .wrapper-header,
  .wrapper-nav {
    margin: 0 3%;
  }
}
@media (max-width: 960px) {
  .pets-slider {
    justify-content: center;
  }
  .pets-galery {
    margin: 2%;
  }
  .arrow {
    display: none;
  }
}

@media (max-width: 840px) {
  .left-column h2 {
    font-size: 30px;
  }
  .wrapper-footer h3 {
    font-size: 25px;
  }
  .text-donation {
    width: 70%;
  }
}

@media (max-width: 610px) {
  .wrapper-header {
    padding: 5% 0;
  }
  .left-column {
    width: 80%;
  }
  .right-column {
    display: none;
  }
  .about-text-main p:last-child,
  .img-footer {
    display: none;
  }
  .contacts-footer {
    width: 100%;
  }
  .contacts-footer h4 {
    display: inline-block;
    font-size: 16px;
  }
  .wrapper-footer {
    padding: 2%;
  }
}
@media screen and (max-width: 600px) {
    .about-text{
        max-width: 70%;
    }
    nav{
        width: auto;
    }
    .logo-title{
        padding-top: 30px;
    }
  .nav-menu li{
    display: none;
  }
  .nav-menu a.icon {
    float: right;
    display: flex;
    align-self: center;
  }
}
@media screen and (max-width: 600px) {
  .nav-menu.responsive {
    flex-direction: column;
    transition: 0.5s;
    align-items: baseline;
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 100%;
    border: 2px solid #f1cdb3;
    border-radius: 2px;
    background: #37302ce3;
    
  }

  .nav-menu.responsive li {
    display: flex;
    text-align: left;
    margin-top: 30px;
    padding-left: 20px;
  }
  .nav-menu.responsive a.icon{
    align-self: flex-end;
    padding: 20px;
    position: absolute;
    top: 7%;
  }
  
}
